k8s-monitoring:
  cluster:
    name: monitoring-lab

  # Destinations - where to send telemetry
  destinations:
    - name: prometheus
      type: prometheus
      # kube-prometheus-stack service name
      url: http://prometheus-kube-prometheus-prometheus.monitoring.svc:9090/api/v1/write
    - name: loki
      type: loki
      url: http://loki.monitoring.svc:3100/loki/api/v1/push

  # Collectors - enable Alloy instances
  alloy-metrics:
    enabled: true
  alloy-logs:
    enabled: true
  alloy-singleton:
    enabled: true

  # Feature: Cluster Metrics (kube-state-metrics, node-exporter, etc)
  clusterMetrics:
    enabled: true
    opencost:
      enabled: false

  # Feature: Pod Logs
  podLogs:
    enabled: true

  # Feature: Cluster Events
  clusterEvents:
    enabled: true
